<div class="jumbotron home home-vertical-center">
    <div class="container text-center">
        <h1 class="text-white">Vos BD ont plusieurs vies!
        </h1>
        <p class="lead text-white">
            <br/>
            Vendez vos occasions
            <br/>
            <br/>
            Partagez vos critiques de bandes dessinées
            <br/>
            <br/>
        </p>
    </div>
</div>

<div
    class="mx-auto text-center">
    <!--style="margin: 5rem 0rem 5rem 0rem; width: 500px;""-->
    <h1>Nos BDs du moment :</h2>
</div>

<% @book_cards = BookCard.most_hit(nil, 3) %>
<%= render 'book_cards/book_cards_view' %>
<div class="mx-auto text-center">
    <!--style="margin: 5rem 0rem 5rem 0rem; width: 500px;""-->
    <h1>Plus de BDs :</h2>
        <div class="container landing-buttons">
            <div class="row">
                <div class="col col-auto mx-auto pt-5 mt-5">
                    <td><%= button_to "Toutes nos BD»", book_cards_path, method: :get , class: "btn btn-info btn-lg"%></td>
                </div>
            </div>
        </div>
</div>

