<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    </head>
    <body>
        <h1>Merci pour ton achat chez nous!</h1>
        <p>
            Grâce à toi, un livre vient de trouver un nouveau foyer !
        </p>
        <p>
            Ta cagnotte est désormais de
            <%= @user_money_pot.money %>
        </p>
        <p>
            Pour accéder à ton espace client et voir ta cagnotte, connecte-toi via :
            <%= @url %>.
        </p>
        <p>
            À très vite sur https://comics-trip.herokuapp.com/ !
        </p>
    </body>
</html>
