<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut et bienvenue chez nous !</h1>
    <p>
      Tu t'es inscrit sur https://comics-trip.herokuapp.com/ en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p>
      Pour te remercier de nous avoir rejoins, nous avons crédité ta cagnotte de 50 euros ! <br>
      En espérant que tu trouves la perle rare parmis les livres proposés !
    </p>
    <p> À très vite sur https://comics-trip.herokuapp.com/ ! </p>
  </body>
</html>