<div class="container col-12">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Auteurs</th>
                <th scope="col">Contenu</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <% @comments.each do|comment| %>
        <% user=User.find(comment.user_id) %>
        <tbody>
            <tr>
                <td><%= user.nickname %></td>
                <td><%= comment.content %></td>
                <td><%= comment.updated_at %></td>
            </tr>
        </tbody>


        <%end%>
    </table>
</div>