<% if @book_card.errors.any? %>
    <div class="alert alert-danger" id="alert_message" role="alert">
        <p>La création d'une fiche a échoué en raison de :</p>
        <ul>
            <% @book_card.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<h1>Editer une fiche</h1>

<%= render 'edit_form', book: @book_card %>

<%= link_to 'Back', book_cards_path %>
