<div
    class="flex-container mx-auto">
    <!--style="margin-top: 5rem; width: 500px;"-->
    <h1><%=@title%></h1>
</div>

<%= render 'book_cards_view' %>

<div class="flex-container mx-auto">
    <% unless !params[:search].nil? %>
    <%=paginate @book_cards%>
<% end %></div>
