<div class="flex-container mx-auto">
    <h1><%=@title%></h1>
</div>

<%= render 'book_cards_view' %>

<div class="flex-container mx-auto">
    <% unless !params[:search].nil? %>
    <%=paginate @book_cards%>
<% end %></div>
