<div style="margin-top: 5rem; text-align: center">
  <h1> Welcome to your profile !</h1>

    <div class="card mx-auto" style="width: 18rem; margin-top: 5rem;">
    <div class="card-body">

      
      
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= @user.email %></li>
        <li class="list-group-item">
          <a class="btn btn-primary" href=" <%= edit_user_registration_path %> " role="button">Edit your profile</a> </br>
        </li>
      </ul>
    </div>
  </div>
</div>
