<div class="row mx-auto justify-content-center">
    <div class="col">
        <%= button_to "Effacer le message", user_private_message_path(current_user.id, @message.id), method: :delete , class: "btn btn-danger" %>
    </div>
    <div class="col">
        <%= button_to "Répondre", new_user_private_message_path(current_user.id, @message.id), method: :get , class: "btn btn-info" %>
    </div>
</div>

