<% sender=User.find_by(id: @message.sender_id) %>
<% receiver=User.find_by(id: @message.recipient_id) %>
<p class="card-text">Expéditeur:
    <%=sender.nickname%></p>
<p class="card-text">Destinataire:
    <%=receiver.nickname%></p>
