<div class="container col-12 mx-auto">
    <div class="row justify-content-center mx-auto">
      <div class="card col-4 mt-4 mb-4">
        <%= render "header"%>
        <%= render "content"%>
          <div class="container text-center mx-auto">
            <%= render "delete_button"%>
          </div>
      </div>
    </div>
</div>