<% if @book.errors.any? %>
 <div class="alert alert-danger" role="alert">
   <p>La création du livre a échoué en raison de :</p>
     <ul>
     <% @book.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
   </ul>
 </div>
<% end %>


<h1>Nouveau Livre</h1>

<%= render 'form', book: @book %>

<%= link_to 'Retour', books_path %>

