<div class="container-fluid; mt-5">
    <div class="content-wrapper">
        <div class="item-container">
            <div class="container">
                <div class="col-md-12">
                    <div class="product col-md-3 service-image-left">
                        <img id="item-display" class="img-fluid" src=" <%= @book.picture %> " alt=""></div>
                    </div>
                    <div class="col-md-7">
                        <div class="product-title"><%= @book.title %></div>
                        <div class="product-desc"><%= @book.abstract %></div>
                        <div class="product-desc"><%= @book.extract %></div>
                        <div class="product-rating">
                            <i class="fa fa-star gold"></i>
                            <i class="fa fa-star gold"></i>
                            <i class="fa fa-star gold"></i>
                            <i class="fa fa-star gold"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                            </div>
                        </div>
                    </div>