// Place all the styles related to the LandingPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.push-spaces
{
    height: 20vh;
    width : 10vw
}

/* JUMBOTRON STYLE HERE */
.jumbotron{
  background: 
linear-gradient(
  rgba(0, 0, 0, 0.432), 
  rgb(0, 0, 0)
),
url(https://images.unsplash.com/photo-1519563552094-a0f48181d523?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=mahdiar-mahmoodi-4iknJXlUCjo-unsplash.jpg);
background-repeat: no-repeat;
// background-attachment: fixed;
background-size: 110vw;
background-position: bottom; 
color:white !important;
height:60vh;


}

.vertical-center {
  min-height: 60%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 60vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: flex-end;
}