<p>Bonjour <%= @resource.email %>!</p>

<p>Nous avons reçu une demande de lien pour générer un nouveau mot de passe. Veuillez clicker sur le lien ci-dessous.</p>

<p><%= link_to 'Changer de mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'en avez pas fait la demande, ignorez simplement cet Email.</p>
<p>Votre mot de passe ne changera pas tant que vous n'aurez pas cliqué sur le lien ci-desus puis validé le nouveau mot de passe.</p>
