<style>


 footer a { color: white;}
 footer a:visited { color: lightgray;}
 footer a:hover, footer a:active { color: gray;}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}




.footer {
    position: relative;
    overflow: auto;
    bottom: auto;
    width: 100%;
    height: auto;
    margin-top:20vh; 
    /* max-height: 30rem;  */

}

</style>
<!-- Footer -->

<footer class="footer footer-expand-lgfont-small bg-dark pt-4 text-white">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left text-white" style="margin: auto; padding: auto;">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col">

        <!-- Content -->
        <h5 class="text-uppercase">À PROPOS COMICS'TRIP</h5>
        <p>Ce projet fut réalisé </p>
       <p> par <a href="https://github.com/matthieuBA/comics-trip/graphs/contributors" target="_blank"> Matthieu Alice Alexandre Cyrielle Melvin </a></p>
        <p>pour <a href="//www.thehackingproject.org/fr" target="_blank">THP</a> </p>
        
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col">


        <!-- HELP & FAQ'S -->
        <h5 class="text-uppercase">AIDE & FAQ'S</h5>

        <ul class="list-unstyled">
          <li>
            <a class="foot_link" href="https://github.com/matthieuBA/comics-trip/graphs/contributors">Lien 1</a>
          </li>
          <li>
            <a class="foot_link"href="https://github.com/matthieuBA/comics-trip/graphs/contributors">Lien 2</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col">

        <!-- Mentions legales -->
        <h5 class="text-uppercase">MENTIONS LEGALES</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#">Lien 1</a>
          </li>
          <li>
            <a href="#">Lien 2</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center">© 2020 Copyright:<a href="https://github.com/matthieuBA/comics-trip/graphs/contributors">COMIC'S TRIP</a>
  </div>
  <!-- Copyright -->
</footer>


<!-- Footer -->