<footer class="footer footer-expand-lgfont-small bg-dark pt-4 text-white">
    <div class="container-fluid text-center text-md-left text-white">
        <div class="row">
            <div class="col">
                <h5 class="text-uppercase">À PROPOS:</h5>
                <p>
                    Ce site a été réalisé par:</p>
                <p>
                    <a href="https://github.com/matthieuBA/comics-trip/graphs/contributors">
                        Matthieu, Alice, Alexandre, Cyrielle et Melvin
                    </a>
                </p>
                <p>
                    Pour:</p>
                <p>
                    <a href="//www.thehackingproject.org/fr">The Hacking Project</a>
                </p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col">
                    <h5 class="text-uppercase">AIDE & FAQ'S:</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a class="foot_link" href="<%=landing_pages_path%>">PARCOURS UTILISATEUR</a>
                        </li>
                    </ul>
                </div>
                <div class="col">

                    <h5 class="text-uppercase">MENTIONS LEGALES:</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="<%=gdpr_index_path%>">RGPD</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center">© 2020 Copyright:
            <a href="https://github.com/matthieuBA/comics-trip/">COMICS TRIP</a>
        </div>
    </div>
</footer>
