<style>

 a {
   color: white;
   text-decoration: underline;
   background-color: transparent;
 }

 
 
 /* a:hover {
   color: blue;
   text-decoration: underline;
 } */

 a:visited {
  color:gray;
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}




.footer {
    position: relative;
    overflow: auto;
    bottom: auto;
    width: 100%;
    height: auto;
    margin-top:20vh; 
    /* max-height: 30rem;  */
    
}

</style>
<!-- Footer -->

<footer class="footer footer-expand-lgfont-small bg-dark pt-4 text-white">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left text-white" style="margin: auto; padding: auto;">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col">

        <!-- Content -->
        <h5 class="text-uppercase">ABOUT COMICS'TRIP</h5>
        <p>This Project was made </p>
       <p> by <a href="https://github.com/matthieuBA/comics-trip/graphs/contributors" target="_blank"> Matthieu Alice Alexandre Cyrielle Melvin </a></p>
        <p>for <a href="//www.thehackingproject.org/fr" target="_blank">THP</a> </p>
        
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col">


        <!-- HELP & FAQ'S -->
        <h5 class="text-uppercase">HELP & FAQ'S</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#">Link 1</a>
          </li>
          <li>
            <a href="#">Link 2</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col">

        <!-- Mentions legales -->
        <h5 class="text-uppercase">MENTIONS LEGALES</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#">Link 1</a>
          </li>
          <li>
            <a href="#">Link 2</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center">© 2020 Copyright:<a href="https://github.com/matthieuBA/comics-trip/graphs/contributors">COMIC'S TRIP</a>
  </div>
  <!-- Copyright -->
</footer>


<!-- Footer -->