<!-- Footer -->

<footer class="footer footer-expand-lgfont-small bg-dark pt-4 text-white">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left text-white"><!--style="margin: auto; padding: auto;"-->

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col">

        <!-- Content -->
        <h5 class="text-uppercase">À PROPOS:</h5>
        <p> Ce site a été réalisé par:</p>
        <p><a href="https://github.com/matthieuBA/comics-trip/graphs/contributors" target="_blank"> Matthieu, Alice, Alexandre, Cyrielle et Melvin </a></p>
        <p> Pour:</p>
        <p><a href="//www.thehackingproject.org/fr" target="_blank">The Hacking Project</a> </p>
        
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col">


        <!-- HELP & FAQ'S -->
        <h5 class="text-uppercase">AIDE & FAQ'S:</h5>

        <ul class="list-unstyled">
          <li>
            <a class="foot_link" href="https://github.com/matthieuBA/comics-trip/graphs/contributors">Lien 1</a>
          </li>
          <li>
            <a class="foot_link"href="https://github.com/matthieuBA/comics-trip/graphs/contributors">Lien 2</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col">

        <!-- Mentions legales -->
        <h5 class="text-uppercase">MENTIONS LEGALES:</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#">Lien 1</a>
          </li>
          <li>
            <a href="#">Lien 2</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center">© 2020 Copyright: <a href="https://github.com/matthieuBA/comics-trip/graphs/contributors">COMICS TRIP</a>
  </div>
  <!-- Copyright -->
</footer>


<!-- Footer -->